LOCAL_MONGO_URI=mongodb://localhost:27017/chat-box
# MONGO_URI is for production (Atlas)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/chat-box?retryWrites=true&w=majority
PORT=4000
JWT_SECRET=your_jwt_secret_here
FRONTEND_URL=your_render_frontend_url
NODE_ENV=development
